@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

/* Dropdown specific styles */
.dropdown  {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: block;
  align-self: center;
  width: 80%;
  opacity: 0;
  margin: -.25rem 0 0 10%; // -.25rem top (animation).
  padding: 0.25rem;
  list-style-type: none;
  background-color: #fff;
  border-radius: 4px;
  transition: .2s all ease-in;
}

.dropdown-menu li {
  padding: .5rem .5rem;
}

.dropdown-menu li + li {
  border-top: 1px solid #e1e1e1;
  padding-top: .5rem;
}

.dropdown-menu li > a {
  display: block;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  transition: .2s background-color ease-in;
}

.dropdown-menu li > a:hover {
  background-color: #e9e9e9;
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  margin-top: 0;
}

a.neat {
  color: inherit;
  text-decoration: none;
}

/* /Dropdown specific styles */

html, body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  background: #4ac95a;
  background: linear-gradient(135deg, #4ac95a 0%,#7db9e8 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 200;
  padding: 30px;
  margin: 0;
}

a.neat {
  color: inherit;
  text-decoration: none;
}

.greetings {
  color: #fff;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fake-link {
  cursor: pointer;
}
